name: Build and test (macOS)

on:
  push:
    branches:
      - master
      - ci
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 0 * * 0'

jobs:
  build-and-test:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        compiler:
          - { name: "gcc", cc: "gcc-15", cxx: "g++-15" }
          - { name: "clang", cxx: "/opt/homebrew/opt/llvm/bin/clang++" }

    steps:
    - uses: actions/checkout@v6

    - name: Install dependencies
      run: |
           brew install llvm libomp open-mpi boost eigen@3 fftw hdf5 \
                        numpy scipy mpi4py
           pip install --user mako

    - name: Set LDFLAGS for Clang
      if: startsWith(matrix.compiler.name, 'clang')
      run: |
           LDFLAGS="-L/opt/homebrew/opt/llvm/lib/c++ \
                    -L/opt/homebrew/opt/llvm/lib/unwind -lunwind"
           echo "LDFLAGS=${LDFLAGS}" >> $GITHUB_ENV

    - name: Install libcommute
      env:
        CXX: ${{ matrix.compiler.cxx }}
      run: |
           git clone https://github.com/krivenko/libcommute libcommute
           mkdir libcommute/build && pushd libcommute/build
           cmake ..                                 \
              -DCMAKE_INSTALL_PREFIX=$HOME/install  \
              -DTESTS=OFF                           \
              -DEXAMPLES=OFF
           make install
           popd

    - name: Build & install Pomerol
      env:
        CC: ${{ matrix.compiler.cc }}
        CXX: ${{ matrix.compiler.cxx }}
        EIGEN_ROOT: /opt/homebrew/opt/eigen@3
      run: |
           git clone https://github.com/pomerol-ed/pomerol
           mkdir pomerol/build && pushd pomerol/build
           cmake ..                                         \
             -DCMAKE_BUILD_TYPE=Debug                       \
             -DCMAKE_INSTALL_PREFIX=$HOME/install           \
             -DUSE_OPENMP=ON                                \
             -Dlibcommute_DIR=$HOME/install/lib/cmake       \
             -DTesting=OFF                                  \
             -DDocumentation=OFF
           make -j2 install VERBOSE=1
           popd

    - name: Build & install TRIQS
      env:
        CC: ${{ matrix.compiler.cc }}
        CXX: ${{ matrix.compiler.cxx }}
      run: |
           git clone https://github.com/TRIQS/triqs --branch 3.3.x
           mkdir triqs/build && pushd triqs/build
           cmake ..                                         \
             -DCMAKE_BUILD_TYPE=Debug                       \
             -DCMAKE_INSTALL_PREFIX=$HOME/install           \
             -DBuild_Tests=OFF
           make -j2 install VERBOSE=1
           popd

    - name: Build pomerol2triqs
      env:
        CC: ${{ matrix.compiler.cc }}
        CXX: ${{ matrix.compiler.cxx }}
      run: |
           source $HOME/install/share/triqs/triqsvars.sh
           mkdir build && pushd build
           cmake ..                                 \
             -DCMAKE_BUILD_TYPE=Debug               \
             -DCMAKE_INSTALL_PREFIX=$HOME/install
           make -j2 install VERBOSE=1
           popd

    - name: Test pomerol2triqs
      env:
        TMPDIR: "/tmp"
      run: |
        mkdir -p $HOME/.prte
        echo -e "\nrmaps_default_mapping_policy = :oversubscribe" >> \
          $HOME/.prte/mca-params.conf
        source $HOME/install/share/triqs/triqsvars.sh
        cd build
        ctest --output-on-failure
