name: Build and test

on:
  push:
    branches:
      - master
      - ci
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 0 * * 0'

jobs:

  #
  # Ubuntu
  #

  ubuntu:
    name: Ubuntu
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler:
          - { name: "gcc", cxx: "g++-14" }
          - { name: "clang", cxx: "clang++" }

    steps:
    - uses: actions/checkout@v6

    - name: Install dependencies
      run: >
           sudo apt-get update &&
           sudo apt-get install lsb-release wget software-properties-common &&
           sudo apt-get install
           libboost-dev
           libeigen3-dev
           libomp5
           libomp-dev
           openmpi-bin
           openmpi-common
           openmpi-doc
           libopenmpi-dev
           libblas-dev
           liblapack-dev
           libfftw3-dev
           libgmp-dev
           hdf5-tools
           libhdf5-dev
           python3-dev
           python3-numpy
           python3-scipy
           python3-matplotlib
           ipython3
           python3-mpi4py
           python3-mako

    - name: Install libcommute
      env:
        CXX: ${{ matrix.compiler.cxx }}
      run: |
           git clone https://github.com/krivenko/libcommute libcommute
           mkdir libcommute/build && pushd libcommute/build
           cmake ..                                 \
              -DCMAKE_INSTALL_PREFIX=$HOME/install  \
              -DTESTS=OFF                           \
              -DEXAMPLES=OFF
           make install
           popd

    - name: Build & install Pomerol
      env:
        CXX: ${{ matrix.compiler.cxx }}
      run: |
           git clone https://github.com/pomerol-ed/pomerol
           mkdir pomerol/build && pushd pomerol/build
           cmake ..                                         \
             -DCMAKE_BUILD_TYPE=Debug                       \
             -DCMAKE_INSTALL_PREFIX=$HOME/install           \
             -DUSE_OPENMP=ON                                \
             -Dlibcommute_DIR=$HOME/install/lib/cmake       \
             -DTesting=OFF                                  \
             -DDocumentation=OFF
           make -j2 install VERBOSE=1
           popd

    - name: Build & install TRIQS
      env:
        CXX: ${{ matrix.compiler.cxx }}
      run: |
           git clone https://github.com/TRIQS/triqs --branch 3.3.x
           mkdir triqs/build && pushd triqs/build
           cmake ..                                         \
             -DCMAKE_BUILD_TYPE=Debug                       \
             -DCMAKE_INSTALL_PREFIX=$HOME/install           \
             -DBuild_Tests=OFF
           make -j2 install VERBOSE=1
           popd

    - name: Build pomerol2triqs
      env:
        CXX: ${{ matrix.compiler.cxx }}
      run: |
           source $HOME/install/share/triqs/triqsvars.sh
           mkdir build && pushd build
           cmake ..                                 \
             -DCMAKE_BUILD_TYPE=Debug               \
             -DCMAKE_INSTALL_PREFIX=$HOME/install
           make -j2 install VERBOSE=1
           popd

    - name: Test pomerol2triqs
      env:
        TMPDIR: "/tmp"
      run: |
        sudo sh -c 'echo -e "\nrmaps_base_oversubscribe = 1" >> \
          /etc/openmpi/openmpi-mca-params.conf'
        source $HOME/install/share/triqs/triqsvars.sh
        cd build
        ctest --output-on-failure

  #
  # macOS
  #

  macos:
    name: macOS
    strategy:
      matrix:
        os:
          - "macos-latest"
          # macos-15-intel is probably the last supported macOS x86-64 runner
          # https://github.com/actions/runner-images/issues/13074
          - "macos-15-intel"
        compiler:
          - { name: "gcc", cxx: "g++-15" }
          - { name: "clang", cxx: "clang++" }
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6

    - name: Install dependencies
      run: |
           brew update
           brew install llvm libomp open-mpi boost eigen@3 fftw hdf5 \
                        numpy scipy mpi4py
           echo "EIGEN_ROOT=$(brew --prefix eigen@3)" >> $GITHUB_ENV
           pip install --user mako

    - name: Set PATH and LDFLAGS for Clang
      if: matrix.compiler.name == 'clang'
      run: |
           PREFIX="$(brew --prefix llvm)"
           echo "PATH=${PREFIX}/bin:${PATH}" >> $GITHUB_ENV
           LDFLAGS="-L${PREFIX}/lib/c++ -L${PREFIX}/lib/unwind -lunwind"
           echo "LDFLAGS=${LDFLAGS}" >> $GITHUB_ENV

    - name: Install libcommute
      env:
        CXX: ${{ matrix.compiler.cxx }}
      run: |
           git clone https://github.com/krivenko/libcommute libcommute
           mkdir libcommute/build && pushd libcommute/build
           cmake ..                                 \
              -DCMAKE_INSTALL_PREFIX=$HOME/install  \
              -DTESTS=OFF                           \
              -DEXAMPLES=OFF
           make install
           popd

    - name: Build & install Pomerol
      env:
        CXX: ${{ matrix.compiler.cxx }}
      run: |
           git clone https://github.com/pomerol-ed/pomerol
           mkdir pomerol/build && pushd pomerol/build
           cmake ..                                         \
             -DCMAKE_BUILD_TYPE=Debug                       \
             -DCMAKE_INSTALL_PREFIX=$HOME/install           \
             -DUSE_OPENMP=ON                                \
             -Dlibcommute_DIR=$HOME/install/lib/cmake       \
             -DTesting=OFF                                  \
             -DDocumentation=OFF
           make -j2 install VERBOSE=1
           popd

    - name: Build & install TRIQS
      env:
        CXX: ${{ matrix.compiler.cxx }}
      run: |
           git clone https://github.com/TRIQS/triqs --branch 3.3.x
           mkdir triqs/build && pushd triqs/build
           cmake ..                                         \
             -DCMAKE_BUILD_TYPE=Debug                       \
             -DCMAKE_INSTALL_PREFIX=$HOME/install           \
             -DBuild_Tests=OFF
           make -j2 install VERBOSE=1
           popd

    - name: Build pomerol2triqs
      env:
        CXX: ${{ matrix.compiler.cxx }}
      run: |
           source $HOME/install/share/triqs/triqsvars.sh
           mkdir build && pushd build
           cmake ..                                 \
             -DCMAKE_BUILD_TYPE=Debug               \
             -DCMAKE_INSTALL_PREFIX=$HOME/install
           make -j2 install VERBOSE=1
           popd

    - name: Test pomerol2triqs
      env:
        TMPDIR: "/tmp"
      run: |
        mkdir -p $HOME/.prte
        echo -e "\nrmaps_default_mapping_policy = :oversubscribe" >> \
          $HOME/.prte/mca-params.conf
        source $HOME/install/share/triqs/triqsvars.sh
        cd build
        ctest --output-on-failure
